<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Aplicación Web Buscar </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
 

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a asp-area="" asp-controller="Home" asp-action="Index">Aplicación Web Buscar</a></h1>
   

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Productos</a></li>
          <li class="active"><a asp-area="" asp-controller="Home" asp-action="Formulario">Registrar</a></li>
        </ul>
      </nav>
    </div>
  </header>



    <div>
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <footer id="footer" >
    <div class="container">
      <h3>Aplicación Web Buscar</h3>
      <p>Aplicación Web Buscar y de Registrar Productos</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Aplicación Web Buscar</span></strong>. Todos los derechos reservados
      </div>
      <div class="credits">
    
        Diseñado por Daniel
      </div>
    </div>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
